# Ex_Files_Ext_Docker_Spring_Boot_Upd/
# Ex_Files_First_Spring_Boot_Microservice/
# Exe_Files_Springboot_course/
logs/
/client
/Ex_Files_Spring_Spring_Security/
/Ex_Files_Building_Ful_Stack_Apps_React_Spring/
/.idea/
